// traduccion de los simbolos us a teclado español
#define ES_ALMOHAD ALGR(KC_3)
#define ES_AND S(KC_6)
#define ES_ARROBA ALGR(KC_2)
#define ES_ASTERIS S(KC_RBRC)
#define ES_BRAQUE_A ALGR(KC_LBRC)
#define ES_BRAQUE_C ALGR(KC_RBRC)
#define ES_BSLASH_W ALGR(KC_GRV)
#define ES_BSLASH_M ALGR(KC_NUBS)
#define ES_CAPUCHON S(KC_LBRC)
#define ES_CEDILLA KC_BSLS
#define ES_COMILLAS_D S(KC_2)
#define ES_COMILLA_S KC_MINS
#define ES_DIERESIS S(KC_QUOT)
#define ES_DOLAR S(KC_4)
#define ES_DOSPUNT S(KC_DOT)
#define ES_EURO ALGR(N5)
#define ES_ENYE KC_SCLN
#define ES_EXCLAM_A KC_EQL
#define ES_EXCLAM_C S(KC_1)
#define ES_FSLASH S(KC_7)
#define ES_GORRO_N_W ALGR(KC_4)
#define ES_GORRO_N_M ALGR(KC_4)
#define ES_IGUAL KC_PEQL
#define ES_INTERR_A S(KC_EQL)
#define ES_INTERR_C S(KC_MINS)
#define ES_LLAVES_A ALGR(KC_QUOT)
#define ES_LLAVES_C ALGR(KC_NUHS)
#define ES_MAYOR_W S(KC_NUBS)
#define ES_MAYOR_M S(KC_GRV)
#define ES_MENOR_W KC_NUBS
#define ES_MENOR_M KC_GRV
#define ES_OR ALGR(KC_1)
#define ES_PARENT_A S(KC_8)
#define ES_PARENT_C S(KC_9)
#define ES_PORCENT S(KC_5)
#define ES_PRIMERA_W S(KC_GRV)
#define ES_PRIMERA_M S(KC_NUBS)
#define ES_PRIMERO_W KC_GRV
#define ES_PRIMERO_M KC_NUBS
#define ES_PUNTOALTO S(KC_3)
#define ES_RESTA KC_SLSH
#define ES_GUION_B S(KC_SLSH)
#define ES_SUMA KC_RBRC
#define ES_TILDE_B KC_QUOT
#define ES_TILDE_F KC_LBRC
// vim:nowrap
